In [ ]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
def conectar(password):
    try:
        cnx = mysql.connector.connect(user='root', password=password,
                                  host='127.0.0.1')
        print("todo bien")
        
        return cnx
    except:
        print("error")

cnx = conectar('1111')   #cada Una con su propia contraseÃ±a ðŸ§¨âœ
cursor = cnx.cursor()
cursor.execute("USE MusicStreamStupendo")

todo bien

In [13]:
cnx.database

'musicstreamstupendo'

In [9]:
df_lastfm = pd.read_csv("artistas_lastfm_combinados_final.csv")
df_spotify_albums = pd.read_csv("total_albumes_2018-2022.csv")
df_spotify_tracks = pd.read_csv("total_canciones_2018-2022.csv")

In [15]:
lista_lfm = ["""CREATE TABLE lastfm (
	            artist_name VARCHAR(100) PRIMARY KEY, 	
                biography TEXT,							
                 listeners INT,							
                 playcount INT,
                 similar_artists VARCHAR(400)
	                                            );""" ]

In [16]:
for lfm in lista_lfm:
    print(lfm)
    print("----------------------")

CREATE TABLE lastfm (
	            artist_name VARCHAR(100) PRIMARY KEY,
                biography TEXT,
                 listeners INT,
                 playcount INT,
                 similar_artists VARCHAR(400)
	                                            );
----------------------

In [17]:
sql_lastfm = """INSERT INTO lastfm (artist_name, biography, listeners, playcount, similar_artists)
                VALUES (%s, %s, %s, %s, %s)
"""
cursor.executemany(sql_lastfm, df_lastfm.values.tolist())

InterfaceError: Failed executing the operation; Not all parameters were used in the SQL statement