### CONEXIÓN DESDE PYTHON CON SQL

In [39]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd


try:
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                               database='musicstreamstupendo')
    print("Conectado a MusicStreamStupendo")

except:
    print("Error al conectar a la base de datos")

Conectado a MusicStreamStupendo

### CREACION TABLAS

In [40]:
mycursor = cnx.cursor()

In [41]:
mycursor.execute("""CREATE TABLE spotify (	
	id VARCHAR(40) PRIMARY KEY,
    track_name VARCHAR(150),
    artist_name VARCHAR(255),								
    `year` YEAR,   											
    genre ENUM("country", "metal", "pop", "r&b", "rock"),
    album_type VARCHAR(45),
    release_date DATE,										
    popularity INT
	);""")

ProgrammingError: 1050 (42S01): Table 'spotify' already exists

In [42]:
cnx.commit()

In [43]:
mycursor = cnx.cursor()

In [44]:
mycursor.execute("""CREATE TABLE lastfm (
	artist_name VARCHAR(255) PRIMARY KEY, 	
    biography TEXT,							
    listeners INT,							
    playcount INT,
    similar_artists VARCHAR(500)
	);""")

ProgrammingError: 1050 (42S01): Table 'lastfm' already exists

In [45]:
cnx.commit()

In [46]:
mycursor = cnx.cursor()

In [ ]:
#TABLA CON LOS MISMOS NOMBRES PARA TRANSFERIR DATOS. LIMPIAR PRIMERO? ESTO ES PARA PRUEBAS

In [47]:
mycursor.execute("""CREATE TABLE  artistas_last_fm_combinados (
			tipo VARCHAR (15),
            artista VARCHAR(255) PRIMARY KEY, 
            genero VARCHAR (15),
            nombre VARCHAR (255),
            año INT, 
            id VARCHAR (100),
            playcount INT,
            listeners INT,
            biografia_resumen TEXT,
            similares TEXT
	);""")

ProgrammingError: 1050 (42S01): Table 'artistas_last_fm_combinados' already exists

In [48]:
cnx.commit()

In [49]:
cnx.close()

### VOLCADO CSV A DATAFRAME EN SQL

In [50]:
try:
    df_artistas_last_fm_combinados = pd.read_csv("artistas_lastfm_combinados_final.csv")
    print("CSV cargado con éxito. Primeras 5 filas:")
    print(df_artistas_last_fm_combinados.head())
except FileNotFoundError:
    print("¡Error! Asegúrate de que el archivo 'seleccionado exista.")

CSV cargado con éxito. Primeras 5 filas:
      tipo               artista   genero  \
0  cancion  Florida Georgia Line  country
1  cancion          Jordan Davis  country
2  cancion          Jordan Davis  country
3  cancion          Jordan Davis  country
4  cancion          Jason Aldean  country

                                     nombre     año                      id  \
0  Meant to Be (feat. Florida Georgia Line)  2018.0  4e4fqjx0Izh4svvTef1z7e
1               Slow Dance In A Parking Lot  2018.0  6MBUUSIWCzaXW4q58Ktrv9
2                            Singles You Up  2018.0  4LiMQ6G9n84rDUBs9wtwz6
3                           Take It From Me  2018.0  3dCZm5HrG0jIXAHfNkg2H0
4                          You Make It Easy  2018.0  2TXtN9MoV308Y0z1HvyTfV

   playcount  listeners biografia_resumen similares
0        NaN        NaN               NaN       NaN
1        NaN        NaN               NaN       NaN
2        NaN        NaN               NaN       NaN
3        NaN        NaN               NaN       NaN
4        NaN        NaN               NaN       NaN

In [51]:
df_artistas_last_fm_combinados.head()

,tipo,artista,genero,nombre,año,id,playcount,listeners,biografia_resumen,similares
0,cancion,Florida Georgia Line,country,Meant to Be (feat. Florida Georgia Line),2018.0,4e4fqjx0Izh4svvTef1z7e,NaN,NaN,NaN,NaN
1,cancion,Jordan Davis,country,Slow Dance In A Parking Lot,2018.0,6MBUUSIWCzaXW4q58Ktrv9,NaN,NaN,NaN,NaN
2,cancion,Jordan Davis,country,Singles You Up,2018.0,4LiMQ6G9n84rDUBs9wtwz6,NaN,NaN,NaN,NaN
3,cancion,Jordan Davis,country,Take It From Me,2018.0,3dCZm5HrG0jIXAHfNkg2H0,NaN,NaN,NaN,NaN
4,cancion,Jason Aldean,country,You Make It Easy,2018.0,2TXtN9MoV308Y0z1HvyTfV,NaN,NaN,NaN,NaN

In [ ]:
try:
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='musicstreamstupendo')
    print("Conectado a MusicStreamStupendo")

except:
    print("Error al conectar a la base de datos")

Conectado a MusicStreamStupendo

In [53]:
import pandas as pd
from sqlalchemy import create_engine

# --- 1. Definir los parámetros de tu Base de Datos MySQL ---
# ¡Asegúrate de cambiar estos datos por los tuyos!
usuario = 'root'
contraseña = 'AlumnaAdalab'
host = 'localhost' # O la IP de tu servidor
bbdd = 'musicstreamstupendo'
nombre_tabla_sql = 'artistas_last_fm_combinados' 

# --- 2. Crear el Motor (El Traductor) ---
# Esto genera una cadena de conexión estándar para SQLAlchemy
cadena_conexion = f"mysql+mysqlconnector://{usuario}:{contraseña}@{host}/{bbdd}"
engine = create_engine(cadena_conexion)

# --- 3. Ejecutar .to_sql() usando el Motor ---
# Asumo que tu DataFrame se llama 'artistas_last_fm_combinados'
try:
    df_artistas_last_fm_combinados.to_sql(
        nombre_tabla_sql,
        engine, # <-- ¡Usamos el motor de SQLAlchemy aquí!
        if_exists='replace',
        index=False 
    )

    print(f"\n✅ ¡Datos volcados con éxito en la tabla SQL '{nombre_tabla_sql}' usando SQLAlchemy!")

except Exception as e:
    print(f"Ocurrió un error al volcar los datos: {e}")

✅ ¡Datos volcados con éxito en la tabla SQL 'artistas_last_fm_combinados' usando SQLAlchemy!

In [ ]:
# # df.to_sql(nombre_de_tabla, conexion, if_exists, index)

# creacion_tabla_sql_artistas_last_fm_combinados = 'artistas_last_fm_combinados' 

# df_artistas_last_fm_combinados.to_sql(
#     creacion_tabla_sql_artistas_last_fm_combinados,
#     cnx,
#     if_exists='replace', # Opciones: 'fail' (error), 'replace' (borra y crea nueva), 'append' (añade al final)
#     index=False          # No queremos que el índice de Pandas se guarde como una columna extra en SQL
# )

# print(f"\n¡Datos volcados con éxito en la tabla SQL '{creacion_tabla_sql_artistas_last_fm_combinados}'!")

C:\Users\micae\AppData\Local\Temp\ipykernel_32284\4077205062.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_artistas_last_fm_combinados.to_sql(

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement