In [ ]:
import pandas as pd

import mysql.connector
from mysql.connector import errorcode

from dotenv import load_dotenv
import os

# ---<---<--<--@    hasta aquí nuestras librerías   @-->-->--->---

In [ ]:

# Ya tenemos los datos, ahora necesitamos el puente a MySQL 

load_dotenv()

def conectar():
    try:
        cnx = mysql.connector.connect(
            user='root',
            password=os.getenv("MYSQL_PASSWORD"),
            host='127.0.0.1',
            database='MusicStreamStupendo',
            auth_plugin='mysql_native_password')
        
        print('Llamada (( ☎ )) a SQL\n')

    except mysql.connector.Error as err:
        print(f'Error: {err}')

    return cnx

# Llama a la función
cnx = conectar()
print('SQL ha contestado (( ☎ )) está listo para trabajar')

Llamada (( ☎ )) a SQL

SQL ha contestado (( ☎ )) está listo para trabajar

In [ ]:

# Conexión a la base de datos
db = mysql.connector.connect(
    host="localhost",
    user="tu_usuario",
    password="tu_contraseña",
    database="MusicStreamStupendo"
)
cursor = db.cursor()

# Crear tablas
cursor.execute("""
CREATE TABLE IF NOT EXISTS artistas (
    id_artista VARCHAR(45) PRIMARY KEY,
    nombre VARCHAR(100),
    biografia TEXT,
    playcount INT,
    listeners INT,
    artistas_similares JSON
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS generos (
    id_genero INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(50)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS albums (
    id_album VARCHAR(50) PRIMARY KEY,
    nombre VARCHAR(100),
    año_lanzamiento DATE,
    popularidad INT,
    id_artista VARCHAR(45),
    FOREIGN KEY (id_artista) REFERENCES artistas(id_artista)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS canciones (
    id_cancion INT PRIMARY KEY,
    titulo VARCHAR(100),
    año_lanzamiento VARCHAR(45),
    id_genero INT,
    id_artista VARCHAR(45),
    FOREIGN KEY (id_genero) REFERENCES generos(id_genero),
    FOREIGN KEY (id_artista) REFERENCES artistas(id_artista)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS artistas_generos (
    id_artista VARCHAR(45),
    id_genero INT,
    PRIMARY KEY (id_artista, id_genero),
    FOREIGN KEY (id_artista) REFERENCES artistas(id_artista),
    FOREIGN KEY (id_genero) REFERENCES generos(id_genero)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS albums_canciones (
    id_album VARCHAR(50),
    id_cancion INT,
    PRIMARY KEY (id_album, id_cancion),
    FOREIGN KEY (id_album) REFERENCES albums(id_album),
    FOREIGN KEY (id_cancion) REFERENCES canciones(id_cancion)
)
""")

db.commit()
cursor.close()
db.close()

In [2]:
path_album = 'C:/Users/OMNA/Documents/adalab/ejercicios/modulo-2/da-promo-60-modulo2-equipo3/extracción-spotify-spotipy/rock/rock_2018_2022_albumes.csv'
dfalbum = pd.read_csv(path_album)
lista_albumes = dfalbum['artista']
lista_unicos_albumes = set(lista_albumes)